:root{
    --black: #000;
    --white: #ffffff;
    --gray: #6B6B6B;
    --Button_hover: #0A676D;
}
html{
    color: var(--white);
    background-color: var(--black);
    font-family: Alegreya, 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    font-weight: bold;
}
.Button_profile{
    color:  var(--gray);
    font-weight: bold;
    background-color: var(--white);
    border-radius: 25px;
    height: 25px;
    width: 125px;
}
.Button_profile:hover{
    color: var(--Button_hover);
    transition: 0.9s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}
.single_image:hover{
    opacity: 0.5;
    transition: 0.9s;
}
.header{
    grid-area: header;
}
@media(min-width: 1200px){
    .Homepage{
        font-size: 16px;
        position: absolute;
        min-height: 99%;
        min-width: 99%;
        z-index: 0;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 0.2fr;
        grid-template-areas:
        "header header  header"
        ". homepage_inhalt homepage_seite";
    }

    .Homepage_Header{grid-area: homepage_header}
    .Homepage_Seitenspalte{
        grid-area: homepage_seite;
        position: absolute;
        padding-left: 25%;
        padding-top: 10%;
        min-height: 99%;
        min-width: 99%;
        z-index: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.05fr;
        grid-template-areas:
        "Button_profile"
        "index_info";
    }
    #index_info{grid-area: index_info; margin-right: 45%}

    .Button_profile{
        grid-area: Button_profile;
    }
    .Homepage_Inhalt{
        grid-area: homepage_inhalt;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .single_image{
        padding:0 20px 20px;
        width: 300px;
        height: 200px;
        object-fit: cover;

    }
}
@media(max-width: 1200px){
    .Homepage{
        position: absolute;
        min-height: 99%;
        min-width: 99%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr;
        grid-template-areas:
        "header"
        "homepage_seite"
        "homepage_inhalt";
    }
    .Homepage_Header{grid-area: homepage_header}
    .Homepage_Inhalt{
        grid-area: homepage_inhalt;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .Homepage_Seitenspalte{grid-area: homepage_seite}
    .single_image{
        padding:0 20px 20px;
        width: 300px;
        height: 200px;
        object-fit: cover;

    }
}
