:root{
    --black: #000;
    --white: #ffffff;
    --gray: #6B6B6B;
}
html{
    color: var(--white);
    background-color: var(--black);
    font-family: Alegreya, 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    font-weight: bold;
}
.Button_profile{
    color:  var(--gray);
    font-weight: bold;
    background-color: var(--white);
    border-radius: 25px;
    height: 25px;
    width: 125px;
}
@media(min-width: 1200px){
    .Homepage{
        font-size: 16px;
        position: absolute;
        min-height: 99%;
        min-width: 99%;
        z-index: 0;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 0.2fr;
        grid-template-areas:
        "homepage_header homepage_header homepage_header"
        "homepage_nav homepage_inhalt homepage_seite";
    }

    .Homepage_Header{grid-area: homepage_header}
    .Homepage_Navigation{grid-area: homepage_nav}
    .Homepage_Seitenspalte{
        grid-area: homepage_seite;
        position: absolute;
        padding-left: 25%;
        padding-top: 10%;
        min-height: 99%;
        min-width: 99%;
        z-index: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr;
        grid-template-areas:
        "Button_profile";
    }
    
    .Homepage_Inhalt{
        grid-area: homepage_inhalt;
        position: absolute;
        display: flex;
        height: flex-end;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
    }
}
@media(max-width: 400px){
    .Homepage{
        position: absolute;
        min-height: 99%;
        min-width: 99%;
        z-index: 0;
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 0.2fr;
        grid-template-areas:
        "homepage_header homepage_header homepage_header"
        "homepage_nav homepage_nav homepage_nav"
        "homepage_inhalt homepage_inhalt homepage_inhalt"
        "homepage_seite homepage_seite homepage_seite";
    }
    .Homepage_Header{grid-area: homepage_header}
    .Homepage_Navigation{grid-area: homepage_nav}
    .Homepage_Seitenspalte{grid-area: homepage_seite}

    .Homepage_Inhalt{
        grid-area: homepage_inhalt;
        position: absolute;
        display: flex;
        height: flex-end;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}
