html{
    color: #fff;
    background-color: black;
    font-family: Alegreya, 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}
.Login_Header{text-decoration: underline}
.Button_login, .Button_to_register{
    color:  black;
    font-weight: bold;
    background-color: #c4c4c4;
    border-radius: 25px;
    height: 25px;
    width: 120px;
}
.Login_Input_Username, .Login_Input_Password{
    width: 515px;
    height: 38px;
    border: 1px solid #c4c4c4;
    background-color: #c4c4c4;
    border-radius: 10px;
}
.Login{
    position: fixed;
    padding-top: 100px;
    min-height: 99%;
    min-width: 99%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". log_header ."
    ". log_inp_username ."
    ". log_inp_password ."
    "btn btn btn"
    ". info ."
    ". error_info .";
}
.Login_Header{grid-area: log_header}
.Login_Input_Username{
    grid-area: log_inp_username;
    text-align: center
}
.Login_Input_Password{
    grid-area: log_inp_password;
    text-align: center
}
.buttons{grid-area: btn}
#login_info{grid-area: info}
#error_info{grid-area: error_info}
/*.Login{
    padding-left: 37%;
    padding-top: 15%;
    position: fixed;
    display: flex;
    height: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}*/