html{
    color: #fff;
    background-color: black;
    font-family: Alegreya, 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    font-weight: bold;
}
.Profile_Input_Username, .Profile_Input_Mail,
.Profile_Input_Password, .Profile_Input_Password_2{
    width: 515px;
    height: 38px;
    border: 1px solid #c4c4c4;
    background-color: #c4c4c4;
    border-radius: 25px;
    align-self: center;
}
.Button_Logout, .Button_Delete_Profile, .Button_back2home{
    color:  #fff;
    font-weight: bold;
    background-color: #c4c4c4;
    border-radius: 25px;
    height: 25px;
    width: 125px;
}
.Profile_Header{text-decoration: underline}
.profile_layout{
    position: absolute;
    min-height: 99%;
    min-width: 99%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr;
    grid-template-areas:
    "prof_header prof_header prof_header"
    ". prof_inp_username ."
    ". prof_inp_mail ."
    ". prof_inp_password ."
    ". prof_inp_password_2 ."
    "prof_buttons prof_buttons prof_buttons"
    ". info .";
}
.Profile_Header{grid-area: prof_header}
.Profile_Input_Username{grid-area: prof_inp_username; text-align: center}
.Profile_Input_Mail{grid-area: prof_inp_mail; text-align: center}
.Profile_Input_Password{grid-area: prof_inp_password; text-align: center}
.Profile_Input_Password_2{grid-area: prof_inp_password_2; text-align: center}
.Profile_buttons{grid-area: prof_buttons}
#profile_info{grid-area: info}