:root{
    --black: #000;
    --white: #ffffff;
    --gray: #6B6B6B;
    --blue: #352BA1;
}
html{
    color: var(--white);
    background-color: var(--black);
    font-family: Alegreya, 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    font-weight: bold;
}
.Registration_Input_Username, .Registration_Input_Mail , .Registration_Input_Password, .Registration_Input_Password_2, .show_username, .show_mail, .show_password{
    width: 250px;
    height: 38px;
    border: 1px solid #c4c4c4;
    color: var(--blue);
    background-color: #c4c4c4;
    border-radius: 10px;
    align-self: center;
}
.Button_Logout, .Button_registration, .Button_back2home{
    color:  var(--gray);
    font-weight: bold;
    background-color: var(--white);
    border-radius: 25px;
    height: 25px;
    width: 125px;
}
.profile_layout{
    grid-area: profile_layout;
    position: absolute;
    min-height: 99%;
    min-width: 99%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr;
    grid-template-areas:
    "prof_header prof_header prof_header"
    ". prof_inp_username ."
    ". prof_inp_mail ."
    ". prof_inp_password ."
    "prof_buttons prof_buttons prof_buttons"
    ". info .";
}
.Profile_Header{grid-area: prof_header}
.show_username{grid-area: prof_inp_username;}
.show_mail{grid-area: prof_inp_mail;}
.show_password{grid-area: prof_inp_password;}
.Profile_buttons{grid-area: prof_buttons}
#profile_info{grid-area: info}
.Profile{
    position: absolute;
    min-height: 99%;
    min-width: 99%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "color_setting profile_layout change";
}
.color_setting{
    grid-area: color_setting;
    position: absolute;
}
input::placeholder{
    font-weight: bold;
    color: var(--blue);
}
.change{
    grid-area: change;
    position: absolute;
    min-height: 99%;
    min-width: 99%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.01fr;
    grid-template-areas:
    "change_header change_header change_header"
    ". Registration_Input_Username ."
    ". Registration_Input_Mail ."
    ". Registration_Input_Password ."
    ". Registration_Input_Password_2 ."
    ". . ."
    ". Button_registration ."
    ". change_info .";
}
#change_info{grid-area: change_info;}
.change_header{grid-area: change_header;}
.Registration_Input_Username{grid-area: Registration_Input_Username;}
.Registration_Input_Mail{grid-area: Registration_Input_Mail;}
.Registration_Input_Password{grid-area: Registration_Input_Password;}
.Registration_Input_Password_2{grid-area: Registration_Input_Password_2;}
.Button_registration{grid-area: Button_registration;}


