html{
    color: #fff;
    background-color: black;
    font-family: Alegreya, 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}
input::placeholder{
    font-weight: bold;
}
@media (min-width: 800px){
    .Registration_Input_Username, .Registration_Input_Mail,
    .Registration_Input_Password, .Registration_Input_Password_2,
    #Registration_Input_Human{
    width: 515px;
    height: 38px;
    border: 1px solid #c4c4c4;
    background-color: #c4c4c4;
    border-radius: 10px;
    margin-top: 20px;
    }
    .Button_registration,.Button_to_login, #Button_ausklappen{
        color:  black;
        font-weight: bold;
        background-color: #c4c4c4;
        border-radius: 25px;
        height: 25px;
        width: 75px;
        margin-top: 20px;
    }
    #Pop_Up_Human{
        width: 515px;
        height:200px;
        border: 1px solid #c4c4c4;
        background-color: #c4c4c4;
        border-radius: 25px;
        color: #000;
        display: none;
    }
    #captcha_code{
        padding-top: 5px;
        padding-left: 5px;
        border-radius: 25px;
    }
    .arrow {
        border: solid #000;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    .Registration{
        position: absolute;
        min-height: 99%;
        min-width: 99%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.1fr;
        grid-template-areas:
        ". reg_header ."
        ". reg_inp_username ."
        ". reg_inp_mail ."
        ". reg_inp_password ."
        ". reg_inp_password_2 ."
        ". Button_ausklappen ."
        ". captcha_info ."
        ". pop_up_human ."
        ". reg_inp_human ."
        ". btns ."
        ". infos .";
    }
    .Registration_Header{grid-area: reg_header}
    .Registration_Input_Username{grid-area: reg_inp_username; text-align: center}
    .Registration_Input_Mail{grid-area: reg_inp_mail; text-align: center}
    .Registration_Input_Password{grid-area: reg_inp_password; text-align: center}
    .Registration_Input_Password_2{grid-area: reg_inp_password_2; text-align: center}
    #Registration_Input_Human{grid-area: reg_inp_human; text-align: center}
    #Button_ausklappen{grid-area: Button_ausklappen}
    #captcha_info{grid-area: captcha_info}
    #Pop_Up_Human{grid-area: pop_up_human}
    .buttons{grid-area: btns}
    .check_infos{grid-area: infos}
}
@media (max-width: 800px){
    .Registration_Input_Username, .Registration_Input_Mail,
    .Registration_Input_Password, .Registration_Input_Password_2,
    #Registration_Input_Human{
    width: 350px;
    height: 38px;
    border: 1px solid #c4c4c4;
    background-color: #c4c4c4;
    border-radius: 10px;
    margin-top: 20px;
    }
    .Button_registration,.Button_to_login, #Button_ausklappen{
        color:  black;
        font-weight: bold;
        background-color: #c4c4c4;
        border-radius: 25px;
        height: 25px;
        width: 75px;
        margin-top: 20px;
    }
    #Pop_Up_Human{
        width: 350px;
        height:200px;
        border: 1px solid #c4c4c4;
        background-color: #c4c4c4;
        border-radius: 25px;
        color: #000;
        display: none;
    }
    #captcha_code{
        padding-top: 5px;
        padding-left: 5px;
        border-radius: 25px;
        width: 335px;
    }
    .arrow {
        border: solid #fff;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    .Registration{
        position: absolute;
        min-height: 99%;
        min-width: 99%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.1fr;
        grid-template-areas:
        ". reg_header ."
        ". reg_inp_username ."
        ". reg_inp_mail ."
        ". reg_inp_password ."
        ". reg_inp_password_2 ."
        ". Button_ausklappen ."
        ". captcha_info ."
        ". pop_up_human ."
        ". reg_inp_human ."
        ". btns ."
        ". infos .";
    }
    .Registration_Header{grid-area: reg_header}
    .Registration_Input_Username{grid-area: reg_inp_username; text-align: center}
    .Registration_Input_Mail{grid-area: reg_inp_mail; text-align: center}
    .Registration_Input_Password{grid-area: reg_inp_password; text-align: center}
    .Registration_Input_Password_2{grid-area: reg_inp_password_2; text-align: center}
    #Registration_Input_Human{grid-area: reg_inp_human; text-align: center}
    #Button_ausklappen{grid-area: Button_ausklappen}
    #captcha_info{grid-area: captcha_info}
    #Pop_Up_Human{grid-area: pop_up_human}
    .buttons{grid-area: btns}
    .check_infos{grid-area: infos}
}